<div class="margin-top div1">
    <div>
        <div class = "container-fluid">
			<div class = "row espacorow">	
                <div class="col-sm-6">
                    <div>
                        <img src="/public/imgs/title.png" width="300">
                        <h3>Lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore autem laudantium ea assumenda voluptate placeat a iure enim. 
                        Ratione explicabo omnis accusantium architecto quos quibusdam sapiente pariatur a officia facere.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <img alt="Lorem ipsum" src="/public/imgs/alcohol1.png">
                </div>
            </div>

            <div class="row espacorow">
                <div class="col-sm-6">
                    <img alt="Lorem ipsum" src="/public/imgs/alcohol2.png">
                </div>

                <div class="col-sm-6">
                    <div class="espacocol">
                        <h3>Lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore autem laudantium ea assumenda voluptate placeat a iure enim. 
                        Ratione explicabo omnis accusantium architecto quos quibusdam sapiente pariatur a officia facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quia nostrum reprehenderit repellendus fugit eveniet expedita dolorem dolor deleniti omnis maxime debitis laborum ullam eos explicabo natus ut rerum, harum qui.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center div-bird">
            <img src="/public/imgs/img13.png" width="250">
            <p class="font-cursive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia accusamus quidem animi veritatis quis ipsum, sunt culpa natus aut vel,
                 distinctio modi tenetur obcaecati excepturi minima, facere earum. Illum, maiores!
            </p>
        </div>

    </div>
</div>