<div class="margin-top div1">
    <div>
        <div class = "container-fluid">
            <div class="text-center"><img src="/public/imgs/title.png" width="300"></div>
			<div class = "row espacorow">	
                <div class="col-sm-6">
                    <div class="espacocol">
                        <h3>Lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore autem laudantium ea assumenda voluptate placeat a iure enim. 
                        Ratione explicabo omnis accusantium architecto quos quibusdam sapiente pariatur a officia facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quia nostrum reprehenderit repellendus fugit eveniet expedita dolorem dolor deleniti omnis maxime debitis laborum ullam eos explicabo natus ut rerum, harum qui.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <img alt="Lorem ipsum" src="/public/imgs/alcohol1.png">
                </div>
            </div>

            <div class="row espacorow">
                <div class="col-sm-6">
                    <img alt="Lorem ipsum" src="/public/imgs/alcohol2.png">
                </div>

                <div class="col-sm-6">
                    <div class="espacocol">
                        <h3>Lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore autem laudantium ea assumenda voluptate placeat a iure enim. 
                        Ratione explicabo omnis accusantium architecto quos quibusdam sapiente pariatur a officia facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quia nostrum reprehenderit repellendus fugit eveniet expedita dolorem dolor deleniti omnis maxime debitis laborum ullam eos explicabo natus ut rerum, harum qui.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-text2 text-center">
            <h3>LOREM IPSUM</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, fuga fugiat quos nisi illum obcaecati neque laboriosam iste porro.
                 Aut corrupti explicabo nobis dolores maiores possimus unde exercitationem necessitatibus error!</p>
        </div>

        <div class="text-center div-bird">
            <img src="/public/imgs/img13.png" width="250">
            <p class="font-cursive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia accusamus quidem animi veritatis quis ipsum, sunt culpa natus aut vel,
                 distinctio modi tenetur obcaecati excepturi minima, facere earum. Illum, maiores!
            </p>
        </div>

    </div>
</div>