<div class="modal fade" tabindex="-1" id="Limited">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Alcohol</h5>
			</div>
			<div class="modal-body text-center">
                <div class="text-center">
					<img src="/public/imgs/img4.png" width="120">
				</div>
				<h5>VOCÊ TEM MAIS DE 18 ANOS?</h5>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-entrar" data-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-sair" onclick="location.href='https://google.com';">Não</button>
			</div>
		</div>
	</div>
</div>